<app-header></app-header>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile oferta3>
        <img src="../../assets/Disco-duro-vida-util.png" alt="">
    </mat-grid-tile>
    
    <mat-grid-tile class="img-fluid"  >
        <img src="../../assets/Case pc.JPG" alt="">
    </mat-grid-tile>
    <mat-grid-tile oferta2>
        <img src="../../assets/Lapotp.JPG" alt="">
    </mat-grid-tile>
    <mat-grid-tile class="oferta">
        <img src="../../assets/LapotpULTRA.JPG" alt="">
    </mat-grid-tile>
</mat-grid-list>